<!DOCTYPE html>
<html>
<head>
    <title>Resultado</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        form {
            margin: auto;
            width: 300px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        label, input, select {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <form action="/run_ansible" method="get">
        <h4>{{ message }}</h4>
        <h3>Detalhes para Confirmação:</h3>
        <ul>
            <li>Nome do Projeto: {{ project_name }}</li>
            <li>Endereço IP: {{ inventory[project_name]['ansible_ssh_host'] }}</li>
            <li>Comando: {{comando}}</li>
        </ul>
        <input type="submit" value="Ativar">
        <a href="{{ url_for('index') }}">Cancelar</a>
    </form>
</body>
</html>
